# Pandas
### Python Pandas: Tips & Tricks

### #6: Mengganti Nama (Label) Kolom pada DataFrame

### Importing Modules

In [1]:
import numpy as np
import pandas as pd

### Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)

df

   A  B  C  D  E
0  1  6  4  4  3
1  8  1  9  6  6
2  1  6  9  6  1
3  3  4  8  1  9
4  5  5  6  8  5

### Mengganti nama (label) untuk sebuah kolom pada Data Frame

In [3]:
df.rename(columns={'C': 'Hobi'})

   A  B  Hobi  D  E
0  1  6     4  4  3
1  8  1     9  6  6
2  1  6     9  6  1
3  3  4     8  1  9
4  5  5     6  8  5

### Mengganti nama (label) untuk banyak kolom pada Data Frame

In [4]:
df.rename(columns={'A': 'Nama', 'B': 'Alamat', 'D': 'Kota'})

   Nama  Alamat  C  Kota  E
0     1       6  4     4  3
1     8       1  9     6  6
2     1       6  9     6  1
3     3       4  8     1  9
4     5       5  6     8  5